.side-panel-logo {
    h1 {
        text-align: center;
        color: white;
        span {
            font-weight: bold;
        }
        i {
            font-size: 40px!important;
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
}